<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="APIServerName" value="INMAAMESQSS01"/>
		<add key="Port" value="8081"/>
		<add key="ClientUpdate_APIServername" value="inmaamesdehvs01"/>
		<add key="ClientUpdate_Port" value="8014"/>
		<add key="ClientUpdatePackage_Location" value="D:\UpdatePackages"/>		
	</appSettings>
    <startup>    
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup>
</configuration>
